
@{
    ViewBag.Title = "ChangePassword";
    TempData.Keep("TenTK");
    TempData.Keep("id");
}
@section header{
    Đổi mật khẩu
}
<style>
    input {
        display: inline-block;
        width: 400px;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 10px 0 10px 20px;
    }

    .form-group {
        margin: 8px 0 8px 0;
    }
</style>
<body>

    <div class="mf">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <p> @Html.Label("Mật khẩu cũ", new { @for = "Password" }):</p>
                @Html.Password("Password")
            </div>
            <div class="form-group">
                <p>
                    @Html.Label("Mật khẩu mới", new { @for = "Password" }):
                </p>
                @Html.Password("newPassword")

            </div>
            <div class="form-group">
                <p>
                    @Html.Label("Nhập lại mật khẩu", new { @for = "Password" }):
                </p>
                @Html.Password("Confirmpwd")

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" style="width:120px; margin-top:10px;" />
                </div>
            </div>

        }

    </div>@Html.Raw(TempData["msg"])


</body>