
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";

}

<style>
    input {
        display: inline-block;
        width: 400px;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 10px 0 10px 20px;
    }

    .form-group {
        margin: 8px 0 8px 0;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

@{
    ViewBag.Title = "ResetPassword";
    TempData.Keep("TenTK");
    TempData.Keep("Id");
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("WelcomeCus","HomeCustomer")">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("ResetPassword","Login")">Change Password</a>
        </li>

    </ol>
</nav>
<div class="mf">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <p> @Html.Label("Old Password", new { @for = "Password" }):</p>
            @Html.Password("password")

        </div>
        <div class="form-group">
            <p>
                @Html.Label("New Password", new { @for = "Password" }):
            </p>
            @*@Html.Password("newPassword")*@
            <input type="password" name="newPassword"  id="id_password">
            <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>

        </div>
        <div class="form-group">
            <p>
                @Html.Label("Confirm Password", new { @for = "Password" }):
            </p>
            @*@Html.Password("confirmPass")*@
            <input type="password" name="confirmPass" id="confirmPass">
            <i class="far fa-eye" id="showPassword" style="margin-left: -30px; cursor: pointer;"></i>

        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" style="width:120px; margin-top:10px;" />
            </div>
        </div>

    }

</div>@Html.Raw(TempData["msg"])

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');
    const showPassword = document.querySelector('#showPassword');
    const password1 = document.querySelector('#confirmPass');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });

    showPassword.addEventListener('click', function (a) {
        // toggle the type attribute
        const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
        password1.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
<script></script>



