
@model IEnumerable<Demo.Models.DichVu>
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("WelcomeCus","HomeCustomer")">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("CoSoDichVuCusTest","HomeCustomer")">Cơ Sở DV</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="@Url.Action("DichVuCusTest","HomeCustomer")">Dịch vụ</a>

        </li>
    </ol>
</nav>
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">

                            <div class="featured__item__pic" style="background-image: url('/Upload/images/@item.ImageDV');">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="/DatDichVu/AddtoCart/@item.IdDV">@item.TenDichVu</a></h6>
                                <h5>@item.GiaDV vnd</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
