@model IPagedList<Demo.Models.TaiKhoan>
@using PagedList.Mvc;
@using PagedList;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        /*td, th {
            text-align: center;
        }*/

        .tf {
            text-align: left;
        }

        .table-sortable th {
            cursor: pointer;
        }

        .table-sortable .th-sort-asc::after {
            content: "\25b4";
        }

        .table-sortable .th-sort-desc::after {
            content: "\25be";
        }

        .table-sortable .th-sort-asc::after,
        .table-sortable .th-sort-desc::after {
            margin-left: 5px;
        }

        .table-sortable .th-sort-asc,
        .table-sortable .th-sort-desc {
            background: rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách user
                </div>
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                            <a class=".col-md-1 btn btn-success" title="Thêm mới" href="@Url.Action("Create","User")"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-horizontal" }))
                        {
                            <div class="col-sm-4 col-sm-offset-6 text-left">
                                <div class="input-group">
                                    @Html.TextBox("searchS", null, new { @class = "form-control", @placeholder = "Tìm kiếm" })
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" title="Tìm kiếm">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive ">
                        <table class="table table-striped table-bordered table-hover table-sortable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.ActionLink("Tài khoản", "Index",
                                             new { sortOrder = "TenTK", CurrentSort = ViewBag.CurrentSort })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Họ Tên", "Index",
                                             new { sortOrder = "HoTen", CurrentSort = ViewBag.CurrentSort })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Ngày Sinh", "Index",
                                             new { sortOrder = "NgaySinh", CurrentSort = ViewBag.CurrentSort })
                                    </th>

                                    <th>
                                        @Html.ActionLink("SĐT", "Index",
                                             new { sortOrder = "SoDienThoai", CurrentSort = ViewBag.CurrentSort })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Email", "Index",
                                             new { sortOrder = "Email", CurrentSort = ViewBag.CurrentSort })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Địa Chỉ", "Index",
                                             new { sortOrder = "DiaChi", CurrentSort = ViewBag.CurrentSort })
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenTK)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoTen)
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(item.NgaySinh).ToString("dd/MM/yyyy")

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiaChi)
                                        </td>

                                        <td>
                                            <a href="@Url.Action("Edit","User",new {id= item.Id})" title="Sửa" class="btn btn-primary"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a href="@Url.Action("Details","User",new {id= item.Id})" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>

                                        </td>
                                    </tr>
                                }
                            <tbody>
                        </table>

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchS = Request.QueryString["searchS"] }))
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/SoftingCols.js"></script>
